### Data transformation and visualiztion note book
#### Section micro

In [1]:
import pandas as pd
import numpy as np

In [2]:
# get the data
a = pd.read_csv('data/forReview_RAoctB.csv')

In [3]:
a_cols = list(a.columns)
def print_this_list(a):
    for x in a:
        print(x)
print(a_cols)

['Date', 'Location', 'medium', 'Samples', 'Sampling_Notes', 'Water_temp', 'Plating_notes', 'Temp_incubation', 'P1_qty_sample', 'Image_24h_fluo_plate_one', 'P1_fluo_halo_colonies', 'P1_fluo_other', 'Plate_one_24h_image', 'P1_24h_big_blue', 'P1_24h_med_blue', 'P1_24h_green', 'P1_24h_turq', 'P1_24h_pink', 'P1_24h_other', 'Comments_p1_24h', 'Plate_one_48h_image', 'P1_48h_big_blue', 'P1_48h_med_blue', 'P1_48h_green', 'P1_48h_turq', 'P1_48h_pink', 'P1_48h_other', 'Comments_p1_48h', 'P2_qty_sample', 'Image_24h_fluo_plate_two', 'P2_fluo_halo_colonies', 'P2_fluo_other', 'Plate_two_24h_image', 'P2_24h_big_blue', 'P2_24h_med_blue', 'P2_24h_green', 'P2_24h_turq', 'P2_24h_pink', 'P2_24h_other', 'Comments_p2_24h', 'Plate_two_48h_image', 'P2_48h_big_blue', 'P2_48h_med_blue', 'P2_48h_green', 'P2_48h_turq', 'P2_48h_pink', 'P2_48h_other', 'Comments_p2_48h', 'P3_qty_sample', 'Image_24h_fluo_plate_three', 'p3_fluo_halo_colonies', 'p3_fluo_other', 'Plate_three_24h_image', 'P3_24h_big_blue', 'P3_24h_med_blue', 'P3_24h_green', 'P3_24h_turq', 'P3_24h_pink', 'P3_24h_other', 'Comments_p3_24h', 'Plate_three_48h_image', 'P3_48h_big_blue', 'P3_48h_med_blue', 'P3_48h_green', 'P3_48h_turq', 'P3_48h_pink', 'P3_48h_other', 'Comments_p3_48h', 'latitude', 'longitude', 'Location_Image']

In [4]:
b = a['Date'].copy()
new_dates = []
new_dic = {}
for x in b:
    year = '20'+str(x[6:])
    day = x[:2]
    month = x[3:5]
    new_d = year + '/' + str(month) + '/' + str(day)
    new_dates.append({x:new_d})
    new_dic.update({x:new_d})
new_dates[:10]

a['Date'] = a['Date'].map(new_dic)
a['Date'][:10]

0    2017/06/12
1    2017/06/12
2    2017/06/12
3    2017/06/12
4    2017/06/12
5    2017/06/12
6    2017/06/19
7    2017/06/19
8    2017/06/19
9    2017/06/19
Name: Date, dtype: object

In [5]:
# So there are alot of columns here
# index will be
# 'Date', 'Location', 'medium', 'Samples', 'Sampling_Notes', 'Water_temp', 'Plating_notes', 'Temp_incubation',
# I want that with each record for now

plate_one = ['P1_qty_sample',
             'Image_24h_fluo_plate_one',
             'P1_fluo_halo_colonies',
             'P1_fluo_other',
             'Plate_one_24h_image',
             'P1_24h_big_blue',
             'P1_24h_med_blue',
             'P1_24h_green',
             'P1_24h_turq',
             'P1_24h_pink',
             'P1_24h_other',
             'Comments_p1_24h',
             'Plate_one_48h_image',
             'P1_48h_big_blue',
             'P1_48h_med_blue',
             'P1_48h_green',
             'P1_48h_turq',
             'P1_48h_pink',
             'P1_48h_other',
             'Comments_p1_48h']

In [6]:
plate_two = ['P2_qty_sample',
             'Image_24h_fluo_plate_two',
             'P2_fluo_halo_colonies',
             'P2_fluo_other',
             'Plate_two_24h_image',
             'P2_24h_big_blue',
             'P2_24h_med_blue',
             'P2_24h_green',
             'P2_24h_turq',
             'P2_24h_pink',
             'P2_24h_other',
             'Comments_p2_24h',
             'Plate_two_48h_image',
             'P2_48h_big_blue',
             'P2_48h_med_blue',             
             'P2_48h_green',
             'P2_48h_turq',
             'P2_48h_pink',
             'P2_48h_other',
             'Comments_p2_48h']

In [7]:
plate_three = ['P3_qty_sample',
               'Image_24h_fluo_plate_three',
               'p3_fluo_halo_colonies',
               'p3_fluo_other',
               'Plate_three_24h_image',
               'P3_24h_big_blue',
               'P3_24h_med_blue',
               'P3_24h_green',
               'P3_24h_turq',
               'P3_24h_pink',
               'P3_24h_other',
               'Comments_p3_24h',
               'Plate_three_48h_image',
               'P3_48h_big_blue',
               'P3_48h_med_blue',
               'P3_48h_green',
               'P3_48h_turq',
               'P3_48h_pink',
               'P3_48h_other',
               'Comments_p3_48h']

In [8]:
map_it = ['Location','latitude', 'longitude']

In [9]:
index = ['Date',
         'Location',
         'medium',
         'Samples',
         'Sampling_Notes',
         'Water_temp',
         'Plating_notes',
         'Temp_incubation',]

In [10]:
def count_it(a):
    n = 0
    for x in a:
        a = len(x)
        n += a
    return n
groups = [index, map_it, plate_one, plate_two, plate_three]
print(count_it(groups), len(a_cols))
# the count works because the column 'location image' is not included

71 71

In [11]:
loc_image = ['Date', 'Location', 'Location_Image']
groups.append(loc_image)
print(count_it(groups), len(a_cols))
#should be plus three

74 71

In [12]:
# okay onwards
plate_one_24 = ['P1_qty_sample',
                'Plate_one_24h_image',
                'P1_24h_big_blue',
                'P1_24h_med_blue',
                'P1_24h_green',
                'P1_24h_turq',
                'P1_24h_pink',
                'P1_24h_other',
                'Comments_p1_24h',]
             
plate_one_48 = ['P1_qty_sample',
                'Plate_one_48h_image',
                'P1_48h_big_blue',
                'P1_48h_med_blue',
                'P1_48h_green',
                'P1_48h_turq',
                'P1_48h_pink',
                'P1_48h_other',
                'Comments_p1_48h']

In [13]:
plate_two_24 = ['P2_qty_sample',
                'Plate_two_24h_image',
                'P2_24h_big_blue',
                'P2_24h_med_blue',
                'P2_24h_green',
                'P2_24h_turq',
                'P2_24h_pink',
                'P2_24h_other',
                'Comments_p2_24h']

plate_two_48 = ['P2_qty_sample',
                'Plate_two_48h_image',
                'P2_48h_big_blue',
                'P2_48h_med_blue',             
                'P2_48h_green',
                'P2_48h_turq',
                'P2_48h_pink',
                'P2_48h_other',
                'Comments_p2_48h']

In [14]:
plate_three_24 = ['P3_qty_sample',
                  'Plate_three_24h_image',
                  'P3_24h_big_blue',
                  'P3_24h_med_blue',
                  'P3_24h_green',
                  'P3_24h_turq',
                  'P3_24h_pink',
                  'P3_24h_other',
                  'Comments_p3_24h',]
               
plate_three_48 = ['P3_qty_sample',
                  'Plate_three_48h_image',
                  'P3_48h_big_blue',
                  'P3_48h_med_blue',
                  'P3_48h_green',
                  'P3_48h_turq',
                  'P3_48h_pink',
                  'P3_48h_other',
                  'Comments_p3_48h']

In [15]:
plate_one_fluo = ['Image_24h_fluo_plate_one',
                  'P1_fluo_halo_colonies',
                  'P1_fluo_other']
plate_two_fluo = ['Image_24h_fluo_plate_two',
                  'P2_fluo_halo_colonies',
                  'P2_fluo_other']
plate_three_fluo = ['Image_24h_fluo_plate_three',
                    'p3_fluo_halo_colonies',
                    'p3_fluo_other']

In [16]:
# test the list indexes:
d = np.random.randint(9, size=8)
d

array([3, 8, 4, 0, 1, 2, 8, 1])

In [17]:
# or run this at each loop
np.random.choice(9)

7

In [18]:
plate_groups = [plate_one_24, plate_two_24, plate_three_24, plate_one_48, plate_two_48, plate_three_48]
plate_24 = plate_groups[:3]
plate_48 = plate_groups[3:]

In [19]:
def check_indexes(a):
    n = 0
    i = np.random.choice(9)
    if n <= 4:        
        for x in a:
            print(x[i])
        print('loop')
        n += 1
        
check_indexes(plate_groups)
# okay this function can run forever and i get the same output from each group

P1_qty_sample
P2_qty_sample
P3_qty_sample
P1_qty_sample
P2_qty_sample
P3_qty_sample
loop

In [20]:
# group the dates by week number
# first get a sorted list by date
# any way you do it there is a transformation to happen
b = a['Date'].copy()
b = pd.to_datetime(b, format='%Y/%m/%d')
b = list(b)
b.sort()
b = set(b)
b

{Timestamp('2017-06-12 00:00:00'),
 Timestamp('2017-06-19 00:00:00'),
 Timestamp('2017-06-26 00:00:00'),
 Timestamp('2017-07-03 00:00:00'),
 Timestamp('2017-07-10 00:00:00'),
 Timestamp('2017-07-17 00:00:00'),
 Timestamp('2017-07-24 00:00:00'),
 Timestamp('2017-07-31 00:00:00')}

In [21]:
weeks_l = ['Week one', 'Week two', 'Week three', 'Week four', 'Week five', 'Week six', ' Week seven', 'Week eight']
weeks = dict(zip(weeks_l, b))
print(weeks, b)

{'Week one': Timestamp('2017-06-12 00:00:00'), 'Week two': Timestamp('2017-07-03 00:00:00'), 'Week three': Timestamp('2017-07-31 00:00:00'), 'Week four': Timestamp('2017-07-10 00:00:00'), 'Week five': Timestamp('2017-06-26 00:00:00'), 'Week six': Timestamp('2017-06-19 00:00:00'), ' Week seven': Timestamp('2017-07-17 00:00:00'), 'Week eight': Timestamp('2017-07-24 00:00:00')} {Timestamp('2017-06-12 00:00:00'), Timestamp('2017-07-03 00:00:00'), Timestamp('2017-07-31 00:00:00'), Timestamp('2017-07-10 00:00:00'), Timestamp('2017-06-26 00:00:00'), Timestamp('2017-06-19 00:00:00'), Timestamp('2017-07-17 00:00:00'), Timestamp('2017-07-24 00:00:00')}

In [22]:
a['Date'] = pd.to_datetime(a['Date'],format='%Y/%m/%d' )

In [23]:
# create a list of place names
places = list(a['Location'].copy())
places = set(places)
place = list(places)
place

['SVT',
 'MRD',
 'Hackuarium tap',
 'Nernier',
 'VNX',
 'Echandens',
 'Hackuarium toilet']

In [24]:
# check to see what happens if use 1 of each list to slice the data-frame
c = a[(a.Location == place[4]) & (a.Date == weeks['Week one'])][[plate_one_24[2], plate_two_24[2], plate_three_24[2]]]

In [25]:
c

   P1_24h_big_blue  P2_24h_big_blue  P3_24h_big_blue
2              0.0              0.0              0.0

In [26]:
# that output looks good
# create a list index for the plate counts
bugs = [2, 3, 4, 5, 6, 7]

In [27]:
n={}
def results(w,x,y,z):
    #f = []
    #l = []
    m ={}
    o = []
    #g = []
    for key, value in w.items():
        for i in z:
            total = 0
            for plate in y:
                c = a[(a.Location == x) & (a.Date == value)][plate[i]]
                total += c.sum()
                d = {'date': key, 'bug':str(plate[i]),'colonies':c.sum()}
                #print(d)
                #f.append(d)
            if str(plate[i][7:]) not in o:
                   o.append(str(plate[i][7:]))
            h = {'week':str(key), 'color':str(plate[i][7:]), 'total':total}
            #print(h)
            m.update({(x, str(key), str(plate[i][7:])):h})
    n.update({x:m})
                       
    return  n, o

#v, w, m, n= results(weeks,'VNX', plate_24, bugs)

In [28]:
for x in place:
    n, o = results(weeks,x, plate_24, bugs)
    t, o = results(weeks,x, plate_48, bugs)

In [29]:
o

['big_blue', 'med_blue', 'green', 'turq', 'pink', 'other']

In [30]:
n[place[1]][(str(place[1]),weeks_l[1],'med_blue')]

{'color': 'med_blue', 'total': 25.0, 'week': 'Week two'}

In [31]:
def week_total_all(dic_t, place, week, bug):
    b = {}
    for beach in place:
        #print(beach)
        a = dic_t[beach]
        for date in week:
            total = 0
            for color in bug:
                #print(a[(beach, date, color)])
                total += a[(beach, date, color)]['total']
            #print(beach, date, str(total))
            b.update({(beach, date):total})
    return b
        
g = week_total_all(n, place[:2], weeks_l, o)

In [32]:
g

{('MRD', ' Week seven'): 84.0,
 ('MRD', 'Week eight'): 0.0,
 ('MRD', 'Week five'): 107.0,
 ('MRD', 'Week four'): 165.0,
 ('MRD', 'Week one'): 0.0,
 ('MRD', 'Week six'): 110.0,
 ('MRD', 'Week three'): 62.0,
 ('MRD', 'Week two'): 57.0,
 ('SVT', ' Week seven'): 70.0,
 ('SVT', 'Week eight'): 270.0,
 ('SVT', 'Week five'): 5.0,
 ('SVT', 'Week four'): 9.0,
 ('SVT', 'Week one'): 0.0,
 ('SVT', 'Week six'): 0.0,
 ('SVT', 'Week three'): 48.0,
 ('SVT', 'Week two'): 36.0}